<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahut.mapper.DriverTruckTypeMapper">

    <resultMap id="driverQualificationMap" type="DriverTruckTypeRelationVO">
        <id property="driverId" column="driverId"/>
        <result property="driverName" column="driverName"/>
        <collection property="truckTypeSimpleVOList" ofType="TruckTypeSimpleVO" column="driverId">
            <result property="truckTypeId" column="ttId"/>
            <result property="truckTypeName" column="ttTypeName"/>
        </collection>
    </resultMap>

    <select id="pageQueryDriverIds" resultType="java.lang.Long">
        SELECT
        d.id , d.create_time
        FROM driver d
        LEFT JOIN driver_truck_type dtt ON d.id = dtt.driver_id
        LEFT JOIN truck_type tt ON dtt.truck_type_id = tt.id

        <where>
            <if test="driverName != null and driverName != ''">
                AND d.name LIKE CONCAT('%', #{driverName}, '%')
            </if>

            <if test="truckTypeId != null">
                AND EXISTS (
                SELECT 1 FROM driver_truck_type dtt_filter
                WHERE dtt_filter.driver_id = d.id
                AND dtt_filter.truck_type_id = #{truckTypeId}
                )
            </if>
        </where>
        GROUP BY d.id ,d.create_time
        ORDER BY d.id
    </select>

    <select id="listWithTruckTypeByDriverIds" resultMap="driverQualificationMap">
        SELECT
        d.id AS driverId,
        d.name AS driverName,
        d.create_time,
        d.update_time,

        dtt.truck_type_id AS dttTruckTypeId,
        tt.id AS ttId,
        tt.type_name AS ttTypeName

        FROM
        driver d LEFT JOIN driver_truck_type dtt ON d.id = dtt.driver_id
        LEFT JOIN truck_type tt ON dtt.truck_type_id = tt.id

        <where>
            <if test="driverIds != null and !driverIds.isEmpty()">
                AND d.id IN
                <foreach item="driverId" collection="driverIds" open="(" separator="," close=")">
                    #{driverId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="listTruckTypeSimpleVOByDriverId" resultType="TruckTypeSimpleVO">
        SELECT tt.id        AS truckTypeId,
               tt.type_name AS truckTypeName
        FROM driver_truck_type dtt
                 JOIN truck_type tt ON dtt.truck_type_id = tt.id
        WHERE dtt.driver_id = #{driverId}
    </select>

    <delete id="deleteByDriverIdAndTruckTypeIds">
        DELETE FROM driver_truck_type
        WHERE driver_id = #{driverId}
        <if test="truckTypeIds != null and !truckTypeIds.isEmpty()">
            AND truck_type_id IN
            <foreach item="truckTypeId" collection="truckTypeIds" open="(" separator="," close=")">
                #{truckTypeId}
            </foreach>
        </if>
    </delete>

</mapper>