<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.***REMOVED***.mapper.MoverMapper">

    <update id="update" parameterType="mover">
        update mover
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="photoUrl != null and photoUrl != ''">photo_url = #{photoUrl},</if>
            <if test="isBanned != null">is_banned = #{isBanned},</if>
            <if test="averageRating != null">average_rating = #{averageRating},</if>
            <if test="ratingCount != null">rating_count = #{ratingCount},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="Mover">
        SELECT
        id, username, name, gender, phone, id_card, photo_url, is_banned, average_rating, rating_count,
        create_time, update_time
        FROM
        mover
        <where>
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="phone != null and phone != ''">
                AND phone LIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="isBanned != null">
                AND is_banned = #{isBanned}
            </if>
            <if test="createTimeStart != null">
                AND create_time &gt;= #{createTimeStart}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="minAverageRating != null">
                AND average_rating &gt;= #{minAverageRating}
            </if>
            <if test="maxAverageRating != null">
                AND average_rating &lt;= #{maxAverageRating}
            </if>
            <if test="minRatingCount != null">
                AND rating_count &gt;= #{minRatingCount}
            </if>
            <if test="maxRatingCount != null">
                AND rating_count &lt;= #{maxRatingCount}
            </if>
        </where>
        ORDER BY id ASC
    </select>

</mapper>