<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.***REMOVED***.mapper.MovingNewsMapper">

    <select id="pageQuery" resultType="MovingNews">
        select id, title, content, publish_date, is_published, create_time, update_time, create_user, update_user
        from moving_news
        <where>
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="content != null and content != ''">
                and content like concat('%',#{content},'%')
            </if>
            <if test="isPublished != null">
                and is_published = #{isPublished}
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="pageQueryByAdmin" resultType="MovingNewsVO">
        SELECT
        mn.id, mn.title, mn.content, mn.publish_date, mn.is_published,
        mn.create_time, mn.update_time, mn.create_user, mn.update_user,
        ca.name AS createUserName,
        ua.name AS updateUserName
        FROM
        moving_news mn
        LEFT JOIN
        admin ca ON mn.create_user = ca.id
        LEFT JOIN
        admin ua ON mn.update_user = ua.id
        <where>
            <if test="title != null and title != ''">
                AND mn.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="content != null and content != ''">
                AND mn.content LIKE CONCAT('%', #{content}, '%')
            </if>
            <if test="isPublished != null">
                AND mn.is_published = #{isPublished}
            </if>
            <if test="publishDateStart != null">
                AND mn.publish_date &gt;= #{publishDateStart}
            </if>
            <if test="publishDateEnd != null">
                AND mn.publish_date &lt;= #{publishDateEnd}
            </if>
        </where>
        ORDER BY mn.id
    </select>

    <select id="getByIdByAdmin" resultType="MovingNewsVO">
        SELECT mn.id,
               mn.title,
               mn.content,
               mn.publish_date,
               mn.is_published,
               mn.create_time,
               mn.update_time,
               mn.create_user,
               mn.update_user,
               ca.name AS createUserName,
               ua.name AS updateUserName
        FROM moving_news mn
                 LEFT JOIN
             admin ca ON mn.create_user = ca.id
                 LEFT JOIN
             admin ua ON mn.update_user = ua.id
        WHERE mn.id = #{id}
    </select>

    <update id="update" parameterType="MovingNews">
        UPDATE moving_news
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="publishDate != null">
                publish_date = #{publishDate},
            </if>
            <if test="isPublished != null">
                is_published = #{isPublished},
            </if>
            update_time = #{updateTime},
            update_user = #{updateUser},
        </set>
        WHERE id = #{id}
    </update>


</mapper>