<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.***REMOVED***.mapper.MovingTipsMapper">

    <select id="pageQuery" resultType="MovingTips">
        select id, title, content, category, is_published, create_time, update_time, create_user, update_user
        from moving_tips
        <where>
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="content != null and content != ''">
                and content like concat('%',#{content},'%')
            </if>
            <if test="category != null and category != ''">
                and category like concat('%',#{category},'%')
            </if>
            <if test="isPublished != null">
                and is_published = #{isPublished}
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="pageQueryByAdmin" resultType="MovingTipsVO">
        SELECT
        mt.id, mt.title, mt.content, mt.category, mt.publish_date, mt.is_published,
        mt.create_time, mt.update_time, mt.create_user, mt.update_user,
        ca.name AS createUserName,
        ua.name AS updateUserName
        FROM
        moving_tips mt
        LEFT JOIN
        admin ca ON mt.create_user = ca.id
        LEFT JOIN
        admin ua ON mt.update_user = ua.id
        <where>
            <if test="title != null and title != ''">
                AND mt.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="content != null and content != ''">
                AND mt.content LIKE CONCAT('%', #{content}, '%')
            </if>
            <if test="category != null and category != ''">
                AND mt.category LIKE CONCAT('%', #{category}, '%')
            </if>
            <if test="isPublished != null">
                AND mt.is_published = #{isPublished}
            </if>
            <if test="publishDateStart != null">
                AND mt.publish_date &gt;= #{publishDateStart}
            </if>
            <if test="publishDateEnd != null">
                AND mt.publish_date &lt;= #{publishDateEnd}
            </if>
        </where>
        ORDER BY mt.publish_date DESC
    </select>


</mapper>