<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.***REMOVED***.mapper.RatingMapper">

    <insert id="insertBatch">
        INSERT INTO rating (order_id, customer_id, ratee_id, rating_type, rating_value, comment, rating_time,
        create_time, update_time)
        VALUES
        <foreach collection='ratings' item='rating' separator=','>
            (#{rating.orderId}, #{rating.customerId}, #{rating.rateeId}, #{rating.ratingType},
            #{rating.ratingValue}, #{rating.comment}, #{rating.ratingTime}, #{rating.createTime},
            #{rating.updateTime})
        </foreach>
    </insert>

    <select id="getServiceRatingsByServiceId" resultType="ServiceRatingVO">
        SELECT c.name         AS customerName,
               r.rating_value AS ratingValue,
               r.comment      AS comment,
               r.rating_time  AS ratingTime
        FROM rating r
                 JOIN customer c ON r.customer_id = c.id
        WHERE r.rating_type = 'SERVICE'
          AND r.ratee_id = #{serviceId}
        ORDER BY r.rating_time DESC
    </select>

</mapper>