<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahut.mapper.TruckTypeMapper">

    <select id="pageQuery" resultType="TruckTypeVO">
        SELECT
        tt.id, tt.type_name, tt.capacity, tt.description, tt.base_fare, tt.price_per_km_tier1,
        tt.price_per_km_tier2, tt.price_per_km_tier3, tt.price_per_km_tier4, tt.price_per_km_tier5,
        tt.create_time, tt.update_time, tt.create_user, tt.update_user,
        ca.name AS createUserName,
        ua.name AS updateUserName
        FROM
        truck_type tt
        LEFT JOIN
        admin ca ON tt.create_user = ca.id
        LEFT JOIN
        admin ua ON tt.update_user = ua.id
        <where>
            <if test="typeName != null and typeName != ''">
                AND tt.type_name LIKE CONCAT('%', #{typeName}, '%')
            </if>
            <if test="minBaseFare != null">
                AND tt.base_fare &gt;= #{minBaseFare}
            </if>
            <if test="maxBaseFare != null">
                AND tt.base_fare &lt;= #{maxBaseFare}
            </if>
            <if test="createTimeStart != null">
                AND tt.create_time &gt;= #{createTimeStart}
            </if>
            <if test="createTimeEnd != null">
                AND tt.create_time &lt;= #{createTimeEnd}
            </if>
        </where>
        ORDER BY tt.id
    </select>

    <select id="getByIdByAdmin" resultType="TruckTypeVO">
        SELECT tt.id,
               tt.type_name,
               tt.capacity,
               tt.description,
               tt.base_fare,
               tt.price_per_km_tier1,
               tt.price_per_km_tier2,
               tt.price_per_km_tier3,
               tt.price_per_km_tier4,
               tt.price_per_km_tier5,
               tt.create_time,
               tt.update_time,
               tt.create_user,
               tt.update_user,
               ca.name AS createUserName,
               ua.name AS updateUserName
        FROM truck_type tt
                 LEFT JOIN
             admin ca ON tt.create_user = ca.id
                 LEFT JOIN
             admin ua ON tt.update_user = ua.id
        WHERE tt.id = #{id}
    </select>

    <update id="update" parameterType="TruckType">
        UPDATE truck_type
        <set>
            <if test="typeName != null and typeName != ''">
                type_name = #{typeName},
            </if>
            <if test="capacity != null and capacity != ''">
                capacity = #{capacity},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="baseFare != null">
                base_fare = #{baseFare},
            </if>
            <if test="pricePerKmTier1 != null">
                price_per_km_tier1 = #{pricePerKmTier1},
            </if>
            <if test="pricePerKmTier2 != null">
                price_per_km_tier2 = #{pricePerKmTier2},
            </if>
            <if test="pricePerKmTier3 != null">
                price_per_km_tier3 = #{pricePerKmTier3},
            </if>
            <if test="pricePerKmTier4 != null">
                price_per_km_tier4 = #{pricePerKmTier4},
            </if>
            <if test="pricePerKmTier5 != null">
                price_per_km_tier5 = #{pricePerKmTier5},
            </if>
            update_time = #{updateTime},
            update_user = #{updateUser},
        </set>
        WHERE id = #{id}
    </update>

    <select id="listByDriverId" resultType="TruckType">
        SELECT tt.id,
               tt.type_name,
               tt.capacity,
               tt.description,
               tt.base_fare,
               tt.price_per_km_tier1,
               tt.price_per_km_tier2,
               tt.price_per_km_tier3,
               tt.price_per_km_tier4,
               tt.price_per_km_tier5,
               tt.create_time,
               tt.update_time,
               tt.create_user,
               tt.update_user
        FROM truck_type tt
                 JOIN driver_truck_type dtt ON tt.id = dtt.truck_type_id
        WHERE dtt.driver_id = #{driverId}
    </select>

    <select id="countExistingByIds" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM truck_type WHERE id IN
        <foreach item='id' collection='ids' open='(' separator=',' close=')'>
            #{id}
        </foreach>
    </select>

</mapper>